## START sESX ADD ##
##test##
set es_enableCustomData 1
set mysql_connection_string "server=localhost;uid=root;password=;database=data;keepAlive=60"
set mysql_debug 1
set mysql_debug_output "file"
## END sESX ADD ##

# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_listingIPOverride "158.58.188.24"

# These are the core FiveM resources
ensure ghmattimysql
ensure mapmanager
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
ensure esx_menu_question
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure idoverhead
ensure baseevents

## START sESX ADD ##
ensure mysql-async
ensure essentialmode
set mysql_debug true
start async
start sesx_assets
start esx-checkdeathcause
ensure VCAC
ensure modelblacklist
# skin
start skinchanger
start skincreator
start esx_eden_clotheshop
start esx_skin

start female-hair
start loading
start status
start screenshot-basic
start mugshot
start pNotify
start cron
start esx_inventoryhud
start esx_addonaccount
start esx_addoninventory
start esx_datastore

start Maps

# gang
start gangs
start gangaccount
start gangprop
start capturee

start new_banking

#phone
start gcphone
start esx_addons_gcphone
#end of phone

## CARS ##

start Maps
start Peds
start mpheist3
start mpvinewood

exec resources/[scripts]/vBasic/settings.cfg
start vBasic
start speedometer

add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow
## END sESX ADD ##

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0
exec VC.cfg
# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password G@K5ra^WsHG&Ot!qqEP

sets tags "RolePlay, Police, IRan"

# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "fa-IR" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://uupload.ir/files/0f31_reaction.gif"
#sets banner_connecting "http://uupload.ir/files/0f31_reaction.gif"

# Set your server's hostname
sv_hostname "^0[IRAN] ^1ViceCity ^4RolePlay ^0| ^1discord.gg/BJbjbWR"

Loading a server icon (96x96 PNG file)
load_server_icon ViceCity.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 64

onesync_enabled true
onesync_distanceCullVehicles true
onesync_forceMigration true

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "3A07C850F2CF05889574582461B1ECB4"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "4x8kixjwawa6wmw9o5qhiw8d5rbcr76r"

restart sessionmanager
